/* body */
body {
    background-color: #E665AE;
}

/* header */
header {
    height: 10vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* 所有按鈕點擊特效 */
button {
    transition: background-color 0.2s ease;
}

button:active {
    background-color: #2a7278ff;
}

/* footer */
footer {
    height: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
}

header button {

    display: inline-block;
    box-sizing: border-box;
    /* width: 60%; */
    padding: 4px 8px;
    background-color: #0DAFBA;
    color: white;
    cursor: pointer;
    border-radius: 4px;
    font-size: 14px;
    border: none;

}

#room-container1 {
    padding: 10px;
    display: flex;
    justify-content: space-between;
}

#room-container2 {
    display: flex;
    justify-content: center;
}


/* main */
main {
    padding: 16px;
    /* 或你想要的其他值，例如 2rem、5% 等 */
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;


}

/* 圖片容器*/

#cards-container {
    display: grid;
    grid-template-columns: repeat(6, 17vh);
    grid-template-rows: repeat(4, 17vh);
    gap: 15px;
    padding: 15px;

    background-color: #F2E6ED;
    /* border: 1px solid black; */
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);


}


/* 圖片item */
.card-item {
    aspect-ratio: 1;
    height: 100%;
    width: 100%;
    position: relative;
    background-color: #ffffff;
    /* border: 1px solid black; */
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.card-guess-fold button,
.uploadImg,
.name-editor,
.chose-target {
    display: inline-block;
    box-sizing: border-box;
    width: 60%;
    padding: 4px 8px;
    background-color: #0DAFBA;
    color: white;
    cursor: pointer;
    border-radius: 4px;
    font-size: 14px;
    border: none;

}

.chose-target{
    transition: background-color 0.2s ease;
}

.chose-target:active {
    background-color: #2a7278ff;

}






.card-img,
.card-folded,
.card-edit-fold,
.card-img-name,
.card-guess-fold {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 8px;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-evenly;
    flex-direction: column;

    display: none;
}

.card-img {
    background-color: aliceblue;
    display: flex;
    background-image: url("sources/photo.webp");
    background-position: center;
    background-size: cover;

}


.card-folded {
    background-image: url("sources/folded.png");
    background-position: center;
    background-size: cover;

}


.card-folded {
    z-index: 2;
}

.name-input {
    display: inline-block;
    box-sizing: border-box;
    width: 60%;
    padding: 4px 8px;
    color: white;
    cursor: pointer;
    border-radius: 4px;
    font-size: 14px;
    border: none;

}

.name,
#target-name {
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    /* 半透明黑色 */
    color: white;
    /* 字體白色才能看清楚 */
    padding: 2% 6%;
    border-radius: 6px;
    border: none;
    z-index: 1;
    text-align: center;
}

/* 裁切圖片 */
.crop-container {
    position: fixed;
    top: 50%;
    left: 50%;
    height: 60vh;
    width: 50vw;
    transform: translate(-50%, -50%);
    background: rgba(255, 255, 255, 0.95);
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    z-index: 9999;
    display: none;
    text-align: center;
    overflow: hidden;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#crop-area {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    display: block;
    margin: 0 auto;
}

#crop-btn {
    margin-top: 10px;
    display: inline-block;
}

.file-input {
    display: none;
}

/* 更改姓名 */
.name-editor {
    /* display: inline-block; */
    position: relative;
}

.name-input {
    position: absolute;
    box-sizing: border-box;
    top: 0;
    left: 0;
    height: 200%;
    width: 100%;
    display: none;
    border: none;
    color: #000;

}

/* 我的目標 */
#target-overlay {
    position: fixed;
    inset: 0;
    display: grid;
    place-items: center;
    background: rgba(0, 0, 0, .45);
    z-index: 9999
}

#target-overlay[hidden] {
    display: none
}

#target-img {
    width: 25vh;
    height: 25vh;
    border: 2px solid #000000;
    border-radius: 8px;
    background-image: url("sources/photo.webp");
    background-position: center;
    background-size: cover;
    position: relative
}

/* 下載中 */
/* 遮罩 */
#loading-overlay {
    position: fixed;
    inset: 0;
    /* top, right, bottom, left: 0 */
    background: rgba(0, 0, 0, 0.4);
    display: none;
    /* 預設隱藏 */
    align-items: center;
    justify-content: center;
    z-index: 9999;
}

/* 內容框 */
#loading-box {
    padding: 20px 30px;
    border-radius: 10px;
    background: #2b2b2b;
    color: white;
    font-size: 20px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.3);
}

/* turn文字說明框 */
#turn {
    display: inline-block;
    box-sizing: border-box;
    padding: 4px 8px 4px 0;
    /* background-color: #2b2b2b; */
    color: rgb(0, 0, 0);
    border-radius: 4px;
    font-size: 14px;
    border: none;
}

/* 顯示我的目標按鈕 */
#show-target-btn {
    display: inline-block;
    box-sizing: border-box;
    padding: 4px 8px;
    background-color: #0DAFBA;
    color: white;
    cursor: pointer;
    border-radius: 4px;
    font-size: 14px;
    border: none;

    transition: background-color 0.2s ease;
}

#show-target-btn:active {
    background-color: #2a7278ff;

}


/* RWD */

.rwd-container {
    display: contents;

}

.card-img-name-img,
.card-guess-fold-img {
    display: none;
}

@media (max-width: 600px) {

    #cards-container {
        /* display: grid; */
        grid-template-columns: repeat(4, 22.5vw);
        grid-template-rows: repeat(6, 22.5vw);
        gap: 2vw;
        padding: 2vw;
        border-radius: 8px;
        box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);


    }

    .card-img-name,
    .card-guess-fold {
        position: fixed;
        inset: 0;
        background: rgba(0, 0, 0, .45);
        z-index: 9999;
        border-radius: 8px;

        ;
        /* flex-wrap: wrap; */
        /* align-content: center; */
        justify-content: space-evenly;
        flex-direction: row;

        display: none;


    }

    .card-guess-fold button,
    .uploadImg,
    .name-editor,
    .chose-target {
        display: inline-block;
        box-sizing: border-box;
        width: 25%;
        padding: 4px 8px;
        background-color: #0DAFBA;
        color: white;
        cursor: pointer;
        border-radius: 4px;
        font-size: 14px;
        border: none;
    }

    .card-img-name-img,
    .card-guess-fold-img {
        position: relative;
        /* inset: 0;  */
        display: block;
        width: 25vh;
        height: 25vh;
        border: 2px solid #000000;
        border-radius: 8px;
        background-image: url("sources/photo.webp");
        background-position: center;
        background-size: cover;
    }

    .rwd-container {
        display: flex;
        justify-content: space-around;
        width: 100%;
        margin: 3vh;
    }

    .card-img-name-name,
    .card-guess-fold-name {
        position: absolute;
        bottom: 5%;
        left: 50%;
        transform: translateX(-50%);
        background-color: rgba(0, 0, 0, 0.5);
        /* 半透明黑色 */
        color: white;
        /* 字體白色才能看清楚 */
        padding: 2% 6%;
        border-radius: 6px;
        border: none;
        z-index: 1;
        text-align: center;
    }

}